"userId":"用户id",
{{ include.padding }}"userName":"用户名称",
{{ include.padding }}"userAvatar":"用户头像",
{{ include.padding }}"userAvatarL":"用户大头像",
{{ include.padding }}"sex":"性别,0:未知,1:男,2:女",
{{ include.padding }}"email":"邮箱",
{{ include.padding }}"address":"地址",
{{ include.padding }}"province":"省份",
{{ include.padding }}"city":"城市",
{{ include.padding }}"birthday":"生日",
{{ include.padding }}"signature":"签名",
{{ include.padding }}"registerDate":"注册日期",
{{ include.padding }}"userLabel":"用户标签",
{{ include.padding }}"star":"明星标记,大于0为明星",
{{ include.padding }}"verifyName":"认证名称",
{{ include.padding }}"verifyIcon":"认证icon链接",
{{ include.padding }}"phoneCode":"客户端类型,0:iphone,1:android",
{{ include.padding }}"phoneSys":"客户端系统",
{{ include.padding }}"phoneVer":"客户端版本",
{{ include.padding }}"online":"当前是否在线,1:在线,0:不在线",
{{ include.padding }}"remark":"备注名",
