"id":"用户id",
{{ include.padding }}"platformCode":"社交平台代号",
{{ include.padding }}"platformToken":"社交平台Token",
{{ include.padding }}"platformTokenExpires":"社交平台Token",
{{ include.padding }}"loginCode":"登陆账号（即第三方登陆平台id）"
{{ include.padding }}"userName":"用户名名字",
{{ include.padding }}"userAvatar":"用户头像",
{{ include.padding }}"userAvatarL":"用户大头像",
{{ include.padding }}"sex":"性别，男性：1，女性：2，未知：0",
{{ include.padding }}"email":"邮箱",
{{ include.padding }}"address":"地址",
{{ include.padding }}"birthday":"生日",
{{ include.padding }}"signature":"个性签名",
{{ include.padding }}"userLabel":"用户标签",
{{ include.padding }}"concernCount":"关注总数",
{{ include.padding }}"followCount":"粉丝总数",
{{ include.padding }}"worldCount":"织图总数",
{{ include.padding }}"childCount":"图片总数",
{{ include.padding }}"likedCount":"喜欢总数",
{{ include.padding }}"likeMeCount":"被赞数",
{{ include.padding }}"keepCount":"收藏总数",
{{ include.padding }}"registerDate":"注册日期",
{{ include.padding }}"tradeId":"行业id",
{{ include.padding }}"job":"职业",
{{ include.padding }}"pushToken":"推送Token",
{{ include.padding }}"phoneCode":"手机代号",
{{ include.padding }}"online":"是否在线",
{{ include.padding }}"acceptSysPush":"接收系统消息推送",
{{ include.padding }}"acceptCommentPush":"接收评论消息推送",
{{ include.padding }}"acceptReplyPush":"接收回复消息推送",
{{ include.padding }}"acceptLikedPush":"接收喜欢消息推送",
{{ include.padding }}"acceptKeepPush":"接收收藏消息推送",
{{ include.padding }}"acceptConcernPush":"接收关注消息推送",
{{ include.padding }}"acceptMsgPush":"接收系统私信消息推送",
{{ include.padding }}"acceptUmsgPush":"接收用户私信推送",
{{ include.padding }}"star":"明星用户标记，1为明星用户",
{{ include.padding }}"verifyName":"认证名称",
{{ include.padding }}"background":"背景图片路径，若传值为空则客户端使用默认图片",
