"id":"织图id",
{{ include.padding }}"shortLink":"织图短链接",
{{ include.padding }}"authorId":"作者id",
{{ include.padding }}"worldName":"世界名称",
{{ include.padding }}"worldDesc":"世界描述",
{{ include.padding }}"worldLabel":"世界标签",
{{ include.padding }}"worldType":"世界分类", 
{{ include.padding }}"typeId":"分类id",
{{ include.padding }}"dateAdded":"添加时间",
{{ include.padding }}"dateModified":"修改时间",
{{ include.padding }}"clickCount":"播放次数",
{{ include.padding }}"likeCount":"被赞次数",
{{ include.padding }}"commentCount":"被评论次数",
{{ include.padding }}"keepCount":"被收藏次数",
{{ include.padding }}"coverPath":"封面路径",
{{ include.padding }}"titlePath":"首页路径",
{{ include.padding }}"titleThumbPath":"首页缩略图路径",
{{ include.padding }}"longitude":"经度",
{{ include.padding }}"latitude":"纬度",
{{ include.padding }}"locationDesc":"位置描述",
{{ include.padding }}"locationAddr":"位置地址",
{{ include.padding }}"phoneCode":"手机辨别代号",
{{ include.padding }}"province":"所在省份",
{{ include.padding }}"city":"所在城市",
{{ include.padding }}"size":"织图大小",
{{ include.padding }}"childCount":"子世界总数",
{{ include.padding }}"ver":"织图版本",
{{ include.padding }}"valid":"是否有效标志",
{{ include.padding }}"shield":"是否被屏蔽",
{{ include.padding }}"worldURL":"链接路径",
{{ include.padding }}"liked":"是否喜欢过,1为喜欢,默认为0",
{{ include.padding }}"keep":"是否收藏过,1为收藏,默认为0",
